@import url("https://fonts.googleapis.com/css?family=Quattrocento:400,700");

header {
  background-color: rgba(28, 79, 142, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  a span {
    display: none;
  }
}

.nav-items {
  color: white;
  display: flex;
  justify-content: space-around;
}

.nav-items a {
  margin: 0 7px;
}

header h1,
header h1:visited,
header h1:hover {
  color: white;
  font-family: "Quattrocento", serif;
  font-weight: normal;
  font-size: 48px;
  text-decoration: none;
}

.atruity,
.atruity:visited {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.gray-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(220, 226, 229, 1);
  position: fixed;
  top: 117px;
  height: 30px;
  width: 100%;
  color: white;
  padding-right: 100px;
}

.gray-nav a {
  margin: 20px;
  color: rgba(28, 79, 142, 1);
  text-transform: uppercase;
}