@import url("https://fonts.googleapis.com/css?family=Quattrocento:400,700");

aside {
  background-color: rgba(63, 96, 117, 1);
  padding: 10px;
  position: fixed;
  height: 100%;
  margin-top: 117px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-left: 48px;
  margin-top: 150px;
  width: 100%;
}

.expanded {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Quattrocento", serif;
  position: relative;
  font-weight: bold;
  position: fixed;
  height: 100%;
  font-size: 20px;
  transition: all .3s;
}

.category-item {
  margin-left: 20px;
  margin: 20px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  cursor: pointer;
  transition: all .3s;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


@media only screen and (max-width: 600px) {
  aside {
    position: static;
  }

  .main {
    margin-left: 0px;
  }

}

aside svg {
  color: white;
}

/* 
@media only screen and (max-width: 600px) {
  .main {
    margin-top: 0px;
  }
} */
/* 
@media only screen and (max-height: 768px) {
  .main {
    margin-top: 0px;
  }
} */