.lightbulb {
    background-color: #e8ed60; 
    border-radius: 50px;
    padding: 12px 22px;
}
.bluetitle {
    color: #1C4F8E;
}
.expandedbar {
    border-width: 0px;
    width: 330px;
    height: 1331px;
    background: inherit;
    background-color: rgba(232, 237, 96, 1);
    border: none;
    border-radius: 0px;
    box-shadow: none;
}