@import url("https://fonts.googleapis.com/css?family=Quattrocento:400,700");

.mission,
.vision,
.values {
  border: 2px solid rgba(28, 79, 142, 1);
  margin: 10px;
  font-family: "Quattrocento", serif;
}

.strengths,
.weaknesses,
.opportunities,
.threats {
  border: 2px solid rgba(28, 79, 142, 1);
  font-family: "Quattrocento", serif;
}

.strengths,
.weaknesses {
  border-bottom: 1px solid rgba(28, 79, 142, 1);
}

.opportunities,
.threats {
  border-top: 1px solid rgba(28, 79, 142, 1);
}

.strengths,
.opportunities {
  border-right: 1px solid rgba(28, 79, 142, 1);
}

.weaknesses,
.threats {
  border-left: 1px solid rgba(28, 79, 142, 1);
}

.mission,
.vision {
  width: 50%;
  /* margin: 10px 10%; */
}

.mission-vision {
  display: flex;
  justify-content: center;
}

.swot {
  display: grid;
  grid-column-gap: 0px;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .swot div div h3 {
    font-size: 18px;
  }

  .mission-vision div div h3,
  .value div div h3 {
    font-size: 18px;
  }
}

.content {
  padding: 10px;
}

.content p {
  font-size: 20px;
  padding: 0 10px;
}



.title {
  background: rgba(220, 226, 229, 1);
  border-bottom: 2px solid rgba(28, 79, 142, 1);
  color: rgba(28, 79, 142, 1);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.pencil,
.pencil:hover,
.pencil:visited {
  color: rgba(28, 79, 142, 1);
}

.title h3 {
  margin: 0;
  font-size: 24px;
  text-transform: capitalize;
}

.flex-between {
  display: flex;
}